body {
    font-family: Arial;
    max-width: 1000px;
    margin: auto; /*автоматически подбирая отступы слева и справа*/
    background: linear-gradient(to bottom, #f5e3c3, #e4c7a1);
    background-attachment: fixed; /*Фиксирует фон при прокрутке страницы*/
    color: #4d3319; /* Тёмно-коричневый цвет текста */
}

header {
    background: #8b5e3b; /* Глубокий коричневый */
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    border-radius: 10px;

}

/*навигация*/
nav {
    background: #b88a64; /* Светло-коричневый */
    padding: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

nav a {
    color: white;
    text-decoration: none; /*Убирает подчеркивания у ссылок*/
    margin: 0 10px;
    font-size: 18px;

}

nav a:hover {
    background: #a6764e; /* Чуть темнее при наведении */
    padding: 5px 10px;
    border-radius: 5px;
}

img {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

button {
    background: #b88a64;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: #a6764e;
    transform: scale(1.05);
}

table {
    margin: 25px auto;
    width: 100%;
}


.back-link {
    text-align: center;
    margin-top: 30px;
}

.back-link a {
    color: #4d3319;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.back-link a:hover {
    color: #2e1e0f;
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff5e6;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    text-align: left;
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #d2a679;
    color: white;
}

tr:hover {
    background-color: #f2e6d9;
}

td a {
    color: #8b5e3b;
    text-decoration: none;
    margin: 0 5px;
}

td a:hover {
    text-decoration: underline;
}



.btn-up {
  /* фиксированное позиционирование */
  position: fixed;
  /* цвет фона */
  background-color: #A0522D;
  /* расстояние от правого края окна браузера */
  right: 40px;
  /* расстояние от нижнего края окна браузера */
  bottom: 0;
  /* скругление верхнего левого угла */
  border-top-left-radius: 8px;
  /* скругление верхнего правого угла */
  border-top-right-radius: 8px;
  /* вид курсора */
  cursor: pointer;
  /* отображение элемента как flex */
  display: flex;
  /* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
  align-items: center;
  /* выравниваем элементы внутри элемента по центру вдоль главной оси */
  justify-content: center;
  /* ширина элемента */
  width: 60px;
  /* высота элемента */
  height: 50px;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

.btn-up:hover {
    background-color: #CD853F;
  }





.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fffaf0;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #a6764e;
    border-radius: 10px;
    width: 40%;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}


.password-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em; /* размер шрифта */
    vertical-align: middle; /* выравнивание по центру с полем */
    margin-left: 3px; /* отступ слева */
    padding: 2px 5px; /* уменьшенные внутренние отступы (высота и ширина) */
    height: auto; /* убираем фиксированную высоту */
}
.password-toggle:hover {
    background: none;
    transform: none;
    cursor: pointer; /* чтобы был курсор при наведении */
}
